# large memory support
CONFIG_VMSPLIT_3G_OPT=y
CONFIG_HAVE_CLK=y
CONFIG_OF=y

# aspeed-adc driver
CONFIG_COMMON_CLK=y
CONFIG_ASPEED_ADC=y

# NCSI
CONFIG_NCSI_OEM_CMD_GET_MAC=y

# devmem
CONFIG_DEVMEM=y

# RTC
CONFIG_RTC_DRV_PCF85363=y

# USB EHCI
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_HCD_PLATFORM=y

# USB UART
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_FTDI_SIO=y

# USB NET
# It is only for SITV BMC testing until the Aegis board is produced.
CONFIG_USB_NET_DRIVERS=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_USB_NET_CDC_SUBSET_ENABLE=y
CONFIG_USB_NET_CDC_SUBSET=y

# REGULATOR
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y

# Enable loadable module
CONFIG_MODULES=y

# Aspeed OTP
CONFIG_ASPEED_OTP=y

# Aspeed SGPIO
CONFIG_GPIO_ASPEED_SGPIO=y

# Aspeed PCC
CONFIG_ASPEED_LPC_PCC=y

# SPI GPIO
CONFIG_SPI_GPIO=y

# Ethernet
# Fixed-link feature
CONFIG_PHYLIB=y
CONFIG_FIXED_PHY=y
